*.tar
*.pkl
__pycache__/
**/__pycache__/
*.pyc
*.so
*.o
**/build/
*.egg
*.egg/*
**.egg-info
**.egg-info/
.installed.cfg
normalSpeed/
data/lmo/*
data/ycbv/*
data/tless/*
*README_.md
docker/opencv-3.4.12.zip
docker/opencv_contrib-3.4.12.zip
hipose/detection_results/*
